Repository unicode-org/cldr, pull requests merged in 2025-02, with the labels that each got.

#4323 CLDR-18227 Add definition for stable
  docs/site/index/process.md
Labels: Site Update

#4333 CLDR-18188 Remove exhibits link and add 46.1 line
  docs/site/index.md
  docs/site/index/downloads.md
Labels: Site Update

#4337 CLDR-18271 Flesh out release notes on collation, RBNF (some), segments, transforms
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4329 CLDR-18271 Update release page cldr-47.md
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4339 CLDR-18282 Document the CLDRModify passes for BRS
  docs/site/development/cldr-big-red-switch/brs-post-items.md
  docs/site/development/cldr-big-red-switch/cldrmodify-passes.md
  docs/site/development/cldr-big-red-switch/cldrmodify-using-config-file.md
Labels: Site Update

#4346 CLDR-18271 More v47 release page work
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4350 CLDR-18271 Cleanup release note for alpha
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4365 CLDR-18271 Update news for 47 alpha
  docs/site/index.md
Labels: Site Update

#4293 CLDR-18193 add Piemontese
  common/main/pms.xml
  common/main/pms_IT.xml
  common/supplemental/attributeValueValidity.xml
  common/supplemental/supplementalData.xml
  common/supplemental/supplementalMetadata.xml
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/country_language_population.tsv
Labels: ddl

#4377 CLDR-18319 kbd: bnf: update bnf for transform ranges
  docs/ldml/tr35-keyboards.md
  keyboards/abnf/transform-from-required.abnf
Labels: keyboard

#4382 CLDR-18326 BRS v47: updates to 47 download page
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4380 CLDR-18324 kbd: add <keyboard3 draft=> status to DTD/spec
  docs/ldml/tr35-keyboards.md
  keyboards/dtd/ldmlKeyboard3.dtd
  keyboards/dtd/ldmlKeyboard3.xsd
Labels: keyboard

#4360 CLDR-17971 kbd: (dtd/spec) add <info attribution=…> attribute
  docs/ldml/tr35-keyboards.md
  keyboards/3.0/mt-t-k0-47key.xml
  keyboards/3.0/mt.xml
  keyboards/dtd/ldmlKeyboard3.dtd
  keyboards/dtd/ldmlKeyboard3.xsd
Labels: keyboard

#4390 CLDR-18227 Fix typo
  docs/site/index/process.md
Labels: Site Update

#4387 CLDR-18318 kbd: update spec and EBNF for escaping
  docs/ldml/tr35-keyboards.md
  docs/ldml/tr35.md
  keyboards/abnf/transform-from-required.abnf
  tools/scripts/keyboard-abnf-tests/test/datadriven.test.mjs
  tools/scripts/keyboard-abnf-tests/transform-from-required.d/from-match.fail.txt
  tools/scripts/keyboard-abnf-tests/transform-from-required.d/from-match.pass.txt
Labels: keyboard

#4397 CLDR-10008 Update Bassa likely script and Liberia population estimates
  common/supplemental/likelySubtags.xml
  common/supplemental/supplementalData.xml
  common/testData/localeIdentifiers/likelySubtags.txt
  tools/cldr-code/src/main/java/org/unicode/cldr/tool/GenerateLikelySubtags.java
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/country_language_population.tsv
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/language_script.tsv
Labels: ddl

#4417 CLDR-18271 Update release notes for 47 beta
  docs/site/downloads/cldr-47.md
  docs/site/index.md
Labels: Site Update

#4418 CLDR-18271 Clean up release note
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4419 CLDR-18271 release note 47 changes
  docs/site/downloads/cldr-47.md
Labels: Site Update
