Repository unicode-org/cldr, pull requests merged in 2025-03, with the labels that each got.

#4423 CLDR-18355 site: css: add margin to sidebar to prevent collisions
  docs/site/assets/css/page.css
Labels: Site Update

#4401 CLDR-18342 merge ddl/v48 back into main
  common/main/ku_SY.xml
  common/main/pms.xml
  common/main/pms_IT.xml
  common/supplemental/attributeValueValidity.xml
  common/supplemental/likelySubtags.xml
  common/supplemental/supplementalData.xml
  common/supplemental/supplementalMetadata.xml
  common/testData/localeIdentifiers/likelySubtags.txt
  tools/cldr-code/src/main/java/org/unicode/cldr/tool/GenerateLikelySubtags.java
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/country_language_population.tsv
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/language_script.tsv
Labels: ddl

#4436 CLDR-18363 Update links on BRS info page
  docs/site/development/cldr-big-red-switch.md
Labels: Site Update

#4456 CLDR-18360 More advance warnings
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4467 CLDR-18360 v47 download page updates
  docs/site/downloads/cldr-47.md
Labels: Site Update

#4471 CLDR-18391 Add initial batch of filters for easy access
  docs/site/development/cldr-big-red-switch.md
Labels: Site Update

#4473 CLDR-15471 Add CLDR JSON releases to downloads page
  docs/site/index/downloads.md
Labels: Site Update

#4472 CLDR-18392 Create CLDR 48 release notes stub
  docs/site/downloads/cldr-48.md
  docs/site/sitemap.tsv
Labels: Site Update

#4465 CLDR-18112 Update acknowledgments.md
  docs/site/index/acknowledgments.md
Labels: Site Update

#4493 CLDR-18351 fix site deploy
  .github/workflows/site.yml
Labels: Site Update

#4495 CLDR-18360 Update SurveyTool page
  docs/site/index/survey-tool.md
  docs/site/translation.md
Labels: Site Update

#4480 CLDR-18400 Make downloads table easier to edit
  docs/site/index/downloads.md
Labels: Site Update

#4500 CLDR-18360 v47 final release changes to site
  docs/site/downloads/cldr-47.md
  docs/site/index.md
  docs/site/index/downloads.md
Labels: Site Update

#4501 CLDR-18360 site: additional v47 link updates
  docs/site/_redirects
  docs/site/downloads/cldr-47.md
  docs/site/index/downloads.md
Labels: Site Update

#4504 CLDR-18415 Add as time formatting known issue and clean up links
  docs/site/downloads/cldr-46.md
  docs/site/downloads/cldr-47.md
  docs/site/index/downloads.md
Labels: Site Update

#4506 CLDR-18356 deps unvendor org.json package
  tools/cldr-apps/pom.xml
  tools/cldr-apps/src/main/java/org/json/CDL.java
  tools/cldr-apps/src/main/java/org/json/Cookie.java
  tools/cldr-apps/src/main/java/org/json/CookieList.java
  tools/cldr-apps/src/main/java/org/json/HTTP.java
  tools/cldr-apps/src/main/java/org/json/HTTPTokener.java
  tools/cldr-apps/src/main/java/org/json/JSONArray.java
  tools/cldr-apps/src/main/java/org/json/JSONException.java
  tools/cldr-apps/src/main/java/org/json/JSONML.java
  tools/cldr-apps/src/main/java/org/json/JSONObject.java
  tools/cldr-apps/src/main/java/org/json/JSONString.java
  tools/cldr-apps/src/main/java/org/json/JSONStringer.java
  tools/cldr-apps/src/main/java/org/json/JSONTokener.java
  tools/cldr-apps/src/main/java/org/json/JSONWriter.java
  tools/cldr-apps/src/main/java/org/json/Test.java
  tools/cldr-apps/src/main/java/org/json/XML.java
  tools/cldr-apps/src/main/java/org/json/XMLTokener.java
  tools/cldr-apps/src/main/java/org/json/license.html
Labels: dependencies

#4507 CLDR-18356 st: unvendor fonts
  tools/cldr-apps/js/package-lock.json
  tools/cldr-apps/js/package.json
  tools/cldr-apps/js/src/index.js
  tools/cldr-apps/js/webpack.config.js
  tools/cldr-apps/src/main/webapp/fonts/LICENSE-Noto.txt
  tools/cldr-apps/src/main/webapp/fonts/NotoSerifNyiakengPuachueHmong-Bold.otf
  tools/cldr-apps/src/main/webapp/fonts/NotoSerifNyiakengPuachueHmong-Regular.ttf
  tools/cldr-apps/src/main/webapp/fonts/glyphicons-halflings-regular.eot
  tools/cldr-apps/src/main/webapp/fonts/glyphicons-halflings-regular.svg
  tools/cldr-apps/src/main/webapp/fonts/glyphicons-halflings-regular.ttf
  tools/cldr-apps/src/main/webapp/fonts/glyphicons-halflings-regular.woff
  tools/cldr-apps/src/main/webapp/surveytool.css
Labels: dependencies

#4512 CLDR-18154 site: add search panel
  docs/site/assets/css/page.css
  docs/site/assets/js/cldrsite.js
Labels: Site Update

#4441 CLDR-18359 Create Laz [lzz] locale
  common/main/lzz.xml
  common/main/lzz_TR.xml
  common/supplemental/attributeValueValidity.xml
  common/supplemental/supplementalData.xml
  common/supplemental/supplementalMetadata.xml
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/country_language_population.tsv
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/locales/scriptToExemplars.txt
Labels: ddl

#4505 CLDR-18391 Add downloads page filters
  docs/site/development/cldr-big-red-switch.md
Labels: Site Update

#4445 CLDR-5708 Remove misleading territories attribute from supplementalData
  common/dtd/ldmlSupplemental.dtd
  common/supplemental/attributeValueValidity.xml
  common/supplemental/supplementalData.xml
  docs/site/downloads/cldr-48.md
  tools/cldr-code/src/main/java/org/unicode/cldr/tool/ConvertLanguageData.java
  tools/cldr-code/src/main/java/org/unicode/cldr/util/SupplementalDataInfo.java
Labels: Site Update

#4474 CLDR-13440 Add language populations for Guatemala, Belize
  common/supplemental/likelySubtags.xml
  common/supplemental/supplementalData.xml
  common/testData/units/unitsTest.txt
  tools/cldr-code/src/main/resources/org/unicode/cldr/util/data/country_language_population.tsv
Labels: ddl

#4532 CLDR-18154 site: attempt to search in current page and page titles
  docs/site/assets/css/page.css
  docs/site/assets/js/cldrsite.js
Labels: Site Update

#4475 CLDR-18381 Add kek_GT locale
  common/main/en.xml
  common/main/kek.xml
  common/main/kek_GT.xml
  common/supplemental/attributeValueValidity.xml
  common/supplemental/supplementalMetadata.xml
  tools/cldr-code/src/main/java/org/unicode/cldr/test/DisplayAndInputProcessor.java
Labels: ddl
